body {
    background-color: rgb(31, 31, 31);
    color: yellow;
    display: flex;
    justify-content: center;
}

a {
    color: yellow;
}

ul {
    list-style: none;
}

li {
    margin-bottom: 20px;
}