* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pixel {
    color: rgb(156, 3, 162);
    font-size: 7px;
    cursor: crosshair;
}

.workspace {
    width: fit-content;
    height: auto;
}