.pixel {
    cursor: crosshair;
    /* background-image: url(/assets/usMedia/image1.gif); */
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: monospace;
    text-transform: lowercase;
}

body {
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: magenta;
}



.workspace {
    width: fit-content;
}

.imageContainer {
    display: flex;
    flex-direction: column;
}

.columnReverse {
    flex-direction: column-reverse !important;
}

.rowReverse {
    flex-direction: row-reverse !important;
}

#cordinates {
    position: fixed;
    color: white;
    background-color: blue;
    display: none;
    padding: 5px;
    z-index: 10000;
}

label,
span {
    width: 200px;
    min-width: 200px;
    background-color: blue;
    color: white;
    font-size: 15px;
    padding: 2px;
}

button {
    background-color: blue;
    border: none;
    outline: none;
    color: white;
}

.show {
    display: flex !important;
}

.inputs {
    display: none;
    gap: .4rem;
    flex-direction: column;
    background-color: rgba(00, 00, 00, .7);
    padding: 10px;
    justify-content: center;
}

.control {
    position: fixed;
    top: 0%;
    right: 0%;
    z-index: 100;
    width: 15%;
}

#toggleInputs {
    position: fixed;
    top: 0px;
    right: 0px;
    /* display: none; */
    color: blue;
    font-weight: 900;
    border: 1px solid;
    background-color: chartreuse;
}

.input {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

input[type="range"] {
    width: 90%;
}

input[type="checkbox"] {
    display: none;
}

#pixelCount {
    color: white;
}

#credits a {
    font-size: 20px;
    background-color: blue;
    color: white;
}