.pixel {
    cursor: crosshair;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.workspace {
    width: fit-content;
    height: auto;
}

.imageContainer {
    display: flex;
    flex-direction: column;
    /* background-color: black; */
}

.line {
    display: flex;
}


.columnReverse {
    flex-direction: column-reverse !important;
}

.rowReverse {
    flex-direction: row-reverse !important;
}

/* imageContainer column-reverse
imageContainer,line gap
pixel rotate  border-radius

filter: grayscale(1);
filter: brightness();
filter: contrast();
filter: hue-rotate(100deg);
filter: invert(1);
filter: none;
filter: opacity(.1);
filter: saturate();
filter: sepia(.1); */